{% if sources|length == 0 %}
<p>You have no sources.</p>
{% else %}
<ul id="sources_list">
    {% for source in sources %}
        <li>
          {% if 'file' == source.type %}
            <a href="{{ path('sources_view_file_source', {id: source.id}) }}">{{ source.type }} {{ source.label }}</a>
          {% else %}
            {{ source.type }} {{ source.label }}
          {% endif %}
        </li>
    {% endfor %}
</ul>
{% endif %}
